# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

[plugins.zsh-defer]
github = "romkatv/zsh-defer"

[templates]
defer = "{{ hooks?.pre | nl }}{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}{{ hooks?.post | nl }}"

[plugins.zsh-syntax-highlighting]
github = "zsh-users/zsh-syntax-highlighting"
apply = ["defer"]

[plugins.zsh-completions]
github = "zsh-users/zsh-completions"
apply = ["defer"]

[plugins.docker-zsh-completion]
github = "greymd/docker-zsh-completion"
apply = ["defer"]

[plugins.zsh-history-substring-search]
github = "zsh-users/zsh-history-substring-search"
apply = ["defer"]

[plugins.mise]
inline = '(( $+commands[mise] )) && eval "$(mise activate zsh)"'

[plugins.zoxide]
inline = '(( $+commands[zoxide] )) && eval "$(zoxide init zsh)"'

[plugins.direnv]
inline = '(( $+commands[direnv] )) && eval "$(direnv hook zsh)"'

[plugins.homebrew]
inline = '(( $+commands[brew] )) && eval "$(brew shellenv)"'
